<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310631576663-737gpepgfqeu4n1d7gmh9qluo00aksti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310631576663-737gpepgfqeu4n1d7gmh9qluo00aksti</string>
	<key>API_KEY</key>
	<string>AIzaSyA_LFQHKg0ibTKcSCVlwqutkOwMhyDWVSw</string>
	<key>GCM_SENDER_ID</key>
	<string>310631576663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miastudiosinc.schoolProfile</string>
	<key>PROJECT_ID</key>
	<string>gh-school-profilling</string>
	<key>STORAGE_BUCKET</key>
	<string>gh-school-profilling.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310631576663:ios:bfe5d3c14def66a5d61f12</string>
</dict>
</plist>